<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/smoothness/jquery-ui-1.8.21.custom.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Nebula.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/Scripts/jquery-1.7.2.min.js"> </script>
	<script type="text/javascript" src="/Scripts/jquery.validate.min.js"> </script>
	<script type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.min.js"> </script>
	<script type="text/javascript" src="/Scripts/bootstrap.min.js"> </script>
	<script type="text/javascript" src="/Scripts/jquery-ui-1.8.21.min.js"> </script>
	<script type="text/javascript" src="/Scripts/jquery.dataTables.min.js"> </script>
	<script type="text/javascript" src="/Scripts/jquery.dataTables.bootstrap.js"> </script>
	<script type="text/javascript" src="/Scripts/moment.min.js"> </script>
	<script type="text/javascript" src="/Scripts/Nebula.js"> </script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">Nebula</a>
				@Html.Partial("_LogOnPartial")
				<div class="nav-collapse">
					@Html.Partial("_MainMenu")
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="sidebar-nav">
					@RenderSection("sidebar", required: false)
				</div>
			</div>
			<div class="span9">
				@RenderBody()
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<hr />
		<footer><p>Nebula &copy; NexusSharp 2012</p></footer>
	</div>
</body>
</html>
