@using Nebula.MvcApplication.Helpers
@model Nebula.MvcApplication.Models.ChangePasswordModel
@{
	ViewBag.Title = "Change Password";
}
<h1>Change Password</h1>
<p>
	<em>Attention!</em> New passwords are required to be a minimum of 5 characters in
	length.
</p>
@Html.BootstrapValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{
	<div class="control-group">
		@Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
		<div class="controls">
			@Html.PasswordFor(m => m.OldPassword)
			@Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "help-inline" })
		</div>
	</div>
	<div class="control-group">
		@Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
		<div class="controls">
			@Html.PasswordFor(m => m.NewPassword)
			@Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" })
		</div>
	</div>
	<div class="control-group">
		@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
		<div class="controls">
			@Html.PasswordFor(m => m.ConfirmPassword)
			@Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
		</div>
	</div>	
	<div>
		<input class="btn btn-primary" type="submit" value="Change Password" />
		<input class="btn" type="reset" value="Cancel" />
	</div>
}
@section sidebar 
{
	@Html.Partial("_SideBar")
}
